.carousel-container{
  width: 100%;
  height: 100%;
  overflow: hidden;

  .carousel-scroller{
    overflow-x: scroll;
    padding-bottom: 20px; //to hide scroll bar

    .carousel-track{
      height: 100%;
      width: 50000px;
      display: flex;
      flex-wrap: nowrap;
      position: relative;
      left: 0;
      top: 0;
      transition: left 1s, top 1s;

      .carousel-slide{
        height: 100%;
      }
    }
  }
}
