.carousel-container{
  width: 100%;
  height: 100%;
  overflow: hidden;

  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: block;
    line-height: 1;
    list-style: none;
    quotes: none;
    content: '';
    content: none;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .carousel-scroller{
    height: 100%;
    overflow-x: scroll;
    padding-bottom: 20px; //to hide scroll bar

    .carousel-track{
      height: 100%;
      width: 500000px;
      display: flex;
      flex-wrap: nowrap;
      position: relative;
      left: 0;
      top: 0;

      .carousel-slide{
        height: 100%;
        overflow: hidden;
      }
    }
  }
}
